<nav>
    <div class="site-title">
        <a href="/">
            <h1>Message Board</h1>
            <p>A NeptuneRjo Site</p>
        </a>
        <ul>
            <li><a href="/">Messages</a></li>
            <li><a href="/new">New Message</a></li>
        </ul>
    </div>
</nav>