<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> 
    <% if (messages.length !== 0) { %>
      <% messages.forEach((message) => { %>  
        <h4 class='title'><%= message.text %></h4>
        <p class='user'><%= message.user %> </p>
      <% }) %>
    <% } %>  
  </body>
</html>
