<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<%- include('./partials/nav.ejs') %> 
		<form method="POST" action="/new">
			<input placeholder="message" name="messageText" id="messageText" />
			<input placeholder="user" name="messageUser" id="messageUser" />
			<button>Submit</button>
		</form>
	</body>
</html>
