body {
	padding: 0;
	padding-top: 15px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
	/* color: #00b7ff; */
	color: black;
	text-decoration: none;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	gap: 15rem;
}

ul {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 1rem;
}

li {
	list-style-type: none;
	font-size: 1.3em;
	font-weight: bold;
}

.site-title {
	font-size: 1.5em;
	padding: 1rem;
	border-left: solid 5px black;
	border-radius: 8px;
}

.site-title h1 {
	padding: 0;
	margin: 0;
}

.messages {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	gap: 3rem;
}

.message-item {
	border-left: solid 5px black;
	border-radius: 8px;
	width: 300px;
	padding: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}
